---
import { getCollection, render, type CollectionEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import AmazonLinks from '../../components/AmazonLinks.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { id: post.id },
		props: { post },
	}));
}

interface Props {
	post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout
	title={post.data.title}
	description={post.data.description}
	image={`https://cobacrew-camping.vercel.app/pins/${post.id}.jpg`}
>
	<article>
		<h1>{post.data.title}</h1>
		<img
			class="hero-image"
			src={`/pins/${post.id}.jpg`}
			alt={post.data.title}
			width="1000"
			height="1500"
		/>
		<p class="disclosure-note">
			Some links in this guide may be affiliate links. If you buy through them, Cobacrew
			Camping may earn a small commission at no extra cost to you. See our <a href="/disclosure">full disclosure</a>.
		</p>
		<AmazonLinks links={post.data.affiliateLinks} />
		<Content />
		<AmazonLinks links={post.data.affiliateLinks} />
	</article>
</Layout>
